.App {
  text-align: center;
  width: 60%;
  margin: 20rem auto;
  height: 40vh;
}

.App-logo {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 7vmin;
  pointer-events: none;
}
button {
  padding: 10px;
  border: none;
  border-radius: 10px;
}
#increment {
  background-color: aquamarine;
  margin-right: 1rem;
}
#decrement {
  background-color: rgb(228, 176, 176);
}
#signIn {
  background-color: rgb(143, 186, 243);
}
#signOut {
  background-color: rgb(230, 180, 245);
}
.footer {
  margin-top: 20rem;
  padding: 2rem;
  background-color: slategray;
  color: white;
  border-radius: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
